
OpenGL_Project/.vs/OpenGL_Project/v16/.suo
Bin/Intermediate
Bin/Bin_OpenNI2_NiTE2.zip
Bin/NiTE2
Bin/OpenNI2
Bin/UserViewer.exe
Bin/UserViewer.ilk
Bin/UserViewer.pdb
OpenGL_Project/.vs/OpenGL_Project/v16/Solution.VC.db-shm
OpenGL_Project/.vs/OpenGL_Project/v16/Solution.VC.db-wal
